button {
    display: grid;
    font-weight: bold;
    font-size: 1rem;
    background-color: #B46D8B;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: black
  }

.main-container {
  width: 400px;
  height: 200px;
  padding: 14px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #E8DFC8;
  border-radius: 20px;
  border: 5px solid #AA7869;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  z-index: 1;
}

.buttons-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #E8DFC8;
}

.controlers-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8DFC8;
}

#display {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 4px;
  user-select: none;
}

#toggle {
  width: 50%;
  height: 2rem;
  align-items: center;
}

/*
COLORS
celeste #83BCCA
azul #6BA4B4
cap abajo #E8DFC8
cap arriba #AA7869
ojo #B46D8B
*/